Examples/Makefile.inc
*.o
*.bak
*~
*.so
*.a
*.out
*.vscode
/Examples/include/GetPot
/Examples/include/chrono.hpp
/Examples/include/*.hpp
/Examples/include/nlohmann/adl_serializer.hpp
/Examples/include/nlohmann/*
/Examples/src/Parallel/MPI/Blocking/main_ping_pong
/Examples/src/Parallel/MPI/HelloWorld/main_hello_world
/Examples/src/Parallel/MPI/HelloWorld/make.dep
/Examples/src/Parallel/MPI/MatrixVectorProduct/main_matrix_vector_product
/Examples/src/Parallel/MPI/MatrixVectorProduct/make.dep
/Examples/src/Parallel/MPI/NonBlocking/main_deadlock
/Examples/src/Parallel/MPI/NonBlocking/main_non_blocking
/Examples/src/Parallel/MPI/NonBlocking/make.dep
/Examples/src/Parallel/MPI/PI/main_pi
/Examples/src/Parallel/MPI/PI/make.dep
/Examples/src/Parallel/MPI/Probe/main_probe
/Examples/src/Parallel/MPI/Probe/make.dep
/Examples/src/Parallel/MPI/Simpson/main_simpsonMPI
/Examples/src/Parallel/MPI/Simpson/make.dep
/Examples/src/Parallel/MPI/VectorSplit/Makefile
/Examples/src/Parallel/MPI/VectorSplit/main_vsplit
/Examples/src/Parallel/MPI/VectorSplit/make.dep
